<form role="form" name="createForm" style="width: 100%">

    <h3>Submit new request</h3>

    <div>
        <label for="connectionType">Connection-type</label>
        <select class="form-control input-sm" id="connectiontype" ui-select2 ng-model="connectiontype" ng-required="true" data-placeholder="Select a type">
            <option value=""></option>
            <option ng-repeat="t in const.conntypes" value="{{t.code}}">{{t.name}}</option>
        </select>
    </div>

    <h5>Source zone</h5>

    <div class="form-group">
        <label for="srcpod">Pod number</label>
        <input type="text" class="form-control input-sm control-label" ng-model="srcpod" id="srcpod" placeholder="String identifier" required>
    </div>

    <div class="form-group">
        <label for="srctor">Rack number</label>
        <input type="text" class="form-control input-sm control-label" ng-model="srctor" id="srctor" placeholder="String identifier" required>
    </div>

    <div class="form-group">
        <label for="srczone">Zone number (in rack)</label>
        <input type="text" class="form-control input-sm control-label" ng-model="srczone" id="srczone" placeholder="String identifier" required>
    </div>

    <h5>Source zone</h5>

    <div class="form-group">
        <label for="despod">Pod number</label>
        <input type="text" class="form-control input-sm control-label" ng-model="despod" id="despod" placeholder="String identifier" required>
    </div>

    <div class="form-group">
        <label for="destor">Rack number</label>
        <input type="text" class="form-control input-sm control-label" ng-model="destor" id="destor" placeholder="String identifier" required>
    </div>

    <div class="form-group">
        <label for="deszone">Zone number (in rack)</label>
        <input type="text" class="form-control input-sm control-label" ng-model="deszone" id="deszone" placeholder="String identifier" required>
    </div>

    <h5>Traffic profile</h5>

    <div class="form-group">
        <label for="bandwidth">Reserved bandwidth</label>
        <input type="text" class="form-control input-sm control-label" ng-model="bandwidth" id="bandwidth" placeholder="String identifier" required>
    </div>

</form>
