<form role="form" name="createForm" style="width: 100%">


    <h2>Submit new request</h2>


    <div class="form-group">
        <label for="connectionType">Connection type</label>
        <select class="form-control input-sm control-label" id="connectiontype" ui-select2 ng-model="service.Connection_type" ng-required="true">
            <option value=""></option>
            <option ng-repeat="t in const.connTypes" value="{{t.code}}">{{t.name}}</option>
        </select>
    </div>

    <hr>

    <h3>Source zone</h3>

    <div class="form-group">
        <label for="srcpod">Pod number</label>
        <input type="text" class="form-control input-sm control-label" ng-model="service.Source_end_point.Pod_ID" id="srcpod" required>
    </div>

    <div class="form-group">
        <label for="srctor">Rack number</label>
        <input type="text" class="form-control input-sm control-label" ng-model="service.Source_end_point.ToR_ID" id="srctor" required>
    </div>

    <div class="form-group">
        <label for="srczone">Zone number (in rack)</label>
        <input type="text" class="form-control input-sm control-label" ng-model="service.Source_end_point.Zone_ID" id="srczone" required>
    </div>

    <hr>

    <h3>Destination zone</h3>

    <div class="form-group">
        <label for="despod">Pod number</label>
        <input type="text" class="form-control input-sm control-label" ng-model="service.Destination_end_point.Pod_ID" id="despod" required>
    </div>

    <div class="form-group">
        <label for="destor">Rack number</label>
        <input type="text" class="form-control input-sm control-label" ng-model="service.Destination_end_point.ToR_ID" id="destor" required>
    </div>

    <div class="form-group">
        <label for="deszone">Zone number (in rack)</label>
        <input type="text" class="form-control input-sm control-label" ng-model="service.Destination_end_point.Zone_ID" id="deszone" required>
    </div>

    <hr>

    <h3>Traffic profile</h3>

    <div class="form-group">
        <label for="bandwidth">Reserved bandwidth</label>
        <input type="text" class="form-control input-sm control-label" ng-model="service.Traffic_profile.Reserved_bandwidth" id="bandwidth" placeholder="In hundreds of Mbit per second" required>
    </div>

    <div class="form-group">
        <label for="recovery">Recovery</label>
        <select class="form-control input-sm control-label" id="recovery" ui-select2 ng-model="service.Recovery" ng-required="true">
            <option value=""></option>
            <option ng-repeat="r in const.recoveryTypes" value="{{r.code}}">{{r.name}}</option>
        </select>
    </div>

    <hr>

    <div class="col-md-6">
        <div ui-view="composer"></div>
        <button class="btn btn-primary" ng-click="submitService()">Submit</button>
    </div>

</form>
