<form role="form" name="flowForm" style="width: 100%">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h2>Path view</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="srcTor">Source ToR</label>
                <select class="form-control input-sm control-label" id="srcTor" ui-select2
                        ng-model="grData.srcTor" ng-required="true">
                    <option ng-repeat="node in nodeFlows | orderBy: 'id' | filter:torFilter" value="{{node.id}}">
                        {{node.id}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="srcZone">Source Zone</label>
                <select class="form-control input-sm control-label" id="srcZone" ui-select2
                        ng-model="grData.srcZone" ng-required="true">
                    <option ng-repeat="zone in zoneList" value="{{zone}}">Zone {{zone}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="destTor">Destination Tor</label>
                <select class="form-control input-sm control-label" id="destTor" ui-select2
                        ng-model="grData.destTor" ng-required="true">
                    <option ng-repeat="node in nodeFlows | orderBy: 'id' | filter:torFilter" value="{{node.id}}">
                        {{node.id}}
                    </option>
                </select>
            </div>
            <!--div class="form-group">
                <label for="destZone">Destination Zone</label>
                <select class="form-control input-sm control-label" id="destZone" ui-select2
                        ng-model="grData.destZone" ng-required="true">
                    <option ng-repeat="zone in zoneList" value="{{zone}}">Zone {{zone}}</option>
                </select>
            </div-->
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-primary" ng-click="refreshGraphics()">Load</button>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="grFlow">
        <div class="col md 3 col-md-offset-2">
            <span style="color:white">No data found. Select a path and click load.</span>
        </div>
    </div>


    <div class="row">
        <div class="col-md-10 col-md-offset-1" id="pathView" ng-if="grFlow">
            <div class="row" id="forwardSlots1">
                <div class="col-md-3">
                    <table class="footable table">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10142 Ring forwarding timeslots &#10142</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow['openflow:201001']['forward'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="footable table">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10142 Ring forwarding timeslots &#10142</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow['openflow:201002']['forward'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="footable table">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10142 Ring forwarding timeslots &#10142</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow['openflow:201003']['forward'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="pods1">
                <div class="col-md-1 col-md-offset-1">
                    <img ng-src='assets/images/Device_switch_3062_unknown_64.png'>
                    <p style="color:white">Pod switch: <br>pod 0, <br> plane 0</p>
                </div>
                  <div class="col-md-3" style="text-align: center">
                    <h2>Plane 0</h2>
                </div>
                <div class="col-md-1">
                    <img ng-src='assets/images/Device_switch_3062_unknown_64.png'>
                    <p style="color:white">Pod switch: <br>pod 1, <br> plane 0</p>
                </div>
                <div class="col-md-3" style="text-align: center">
                    <h2>Plane 0</h2>
                </div>
                <div class="col-md-1">
                    <img ng-src='assets/images/Device_switch_3062_unknown_64.png'>
                    <p style="color:white">Pod switch: <br>pod 2, <br> plane 0</p>
                </div>
            </div>
            <div class="row" id="dropSlots1">
                <div class="col-md-3">
                    <table class="footable table">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10549 Drop to ToR timeslots &#10549</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow['openflow:201001']['drop'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="footable table">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10549 Drop to ToR timeslots &#10549</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow['openflow:201002']['drop'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="footable table">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10549 Drop to ToR timeslots &#10549</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow['openflow:201003']['drop'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <hr>
                </div>
            </div>
            <div class="row" id="torToPlane0">
                <div class="col-md-3">
                    <table class="footable table" ng-if="grFlow.srcPod == '0'">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10548 Timeslots for communication &#10548</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow[grData.srcTor]['1'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="footable table" ng-if="grFlow.srcPod == '1'">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10548 Timeslots for communication &#10548</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow[grData.srcTor]['1'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="footable table" ng-if="grFlow.srcPod == '2'">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10548 Timeslots for communication &#10548</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow[grData.srcTor]['1'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="tors">
                <div class="col-md-3" style="text-align: center">
                    <div ng-if="grFlow.srcPod == 0" style="display: inline-block;">
                        <img ng-src='assets/images/Device_switch_3062_unknown_64.png'>
                        <p style="color:white">Source ToR: <br>pod 0, <br>lambda {{grFlow.srcLambda}}</p>
                    </div>
                    <div ng-if="grFlow.destPod == 0" style="display: inline-block;">
                        <img ng-src='assets/images/Device_switch_3062_unknown_64.png'>
                        <p style="color:white">Destination ToR: <br>pod 0, <br>lambda {{grFlow.lambda}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1" style="text-align: center">
                    <div ng-if="grFlow.srcPod == 1" style="display: inline-block;">
                        <img ng-src='assets/images/Device_switch_3062_unknown_64.png'>
                        <p style="color:white">Source ToR: <br>pod 1, <br>lambda {{grFlow.srcLambda}}</p>
                    </div>
                    <div ng-if="grFlow.destPod == 1" style="display: inline-block;">
                        <img ng-src='assets/images/Device_switch_3062_unknown_64.png'>
                        <p style="color:white">Destination ToR: <br>pod 1, <br>lambda {{grFlow.lambda}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1" style="text-align: center">
                    <div ng-if="grFlow.srcPod == 2" style="display: inline-block;">
                        <img ng-src='assets/images/Device_switch_3062_unknown_64.png'>
                        <p style="color:white">Source ToR: <br>pod 2, <br>lambda {{grFlow.srcLambda}}</p>
                    </div>
                    <div ng-if="grFlow.destPod == 2" style="display: inline-block;">
                        <img ng-src='assets/images/Device_switch_3062_unknown_64.png'>
                        <p style="color:white">Destination ToR: <br>pod 2, <br>lambda {{grFlow.lambda}}</p>
                    </div>
                </div>
            </div>
            <div class="row" id="torToPlane1">
                <div class="col-md-3">
                    <table class="footable table" ng-if="grFlow.srcPod == '0'">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10549 Timeslots for communication &#10549</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow[grData.srcTor]['2'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="footable table" ng-if="grFlow.srcPod == '1'">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10549 Timeslots for communication &#10549</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow[grData.srcTor]['2'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="footable table" ng-if="grFlow.srcPod == '2'">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10549 Timeslots for communication &#10549</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow[grData.srcTor]['2'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <hr>
                </div>
            </div>
            <div class="row" id="dropSlots2">
                <div class="col-md-3">
                    <table class="footable table">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10548 Drop to ToR timeslots &#10548</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow['openflow:202001']['drop'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="footable table">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10548 Drop to ToR timeslots &#10548</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow['openflow:202002']['drop'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="footable table">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10548 Drop to ToR timeslots &#10548</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow['openflow:202003']['drop'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="pods2">
                <div class="col-md-1 col-md-offset-1">
                    <img ng-src='assets/images/Device_switch_3062_unknown_64.png'>
                    <p style="color:white">Pod switch: <br>pod 0, <br> plane 1</p>
                </div>
                <div class="col-md-3" style="text-align: center">
                    <h2>Plane 1</h2>
                </div>
                <div class="col-md-1">
                    <img ng-src='assets/images/Device_switch_3062_unknown_64.png'>
                    <p style="color:white">Pod switch: <br>pod 1, <br> plane 1</p>
                </div>
                <div class="col-md-3" style="text-align: center">
                    <h2>Plane 1</h2>
                </div>
                <div class="col-md-1">
                    <img ng-src='assets/images/Device_switch_3062_unknown_64.png'>
                    <p style="color:white">Pod switch: <br>pod 2, <br> plane 1</p>
                </div>
            </div>
            <div class="row" id="forwardSlots2">
                <div class="col-md-3">
                    <table class="footable table">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10142 Ring forwarding timeslots &#10142</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow['openflow:202001']['forward'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="footable table">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10142 Ring forwarding timeslots &#10142</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow['openflow:202002']['forward'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="footable table">
                        <thead>
                        <tr>
                            <th colspan="12" style="text-align: center">&#10142 Ring forwarding timeslots &#10142</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="flag in grFlow['openflow:202003']['forward'] track by $index">
                                <span ng-if="flag == 2" style="color:green">
                                    1
                                </span>
                                <span ng-if="flag == 1 || flag == 0" style="color:red">
                                    {{flag}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
