<form role="form" name="trafficForm" style="width: 100%">

    <div class="col-md-2">
        <h2>Traffic status</h2>
        <button class="btn btn-primary" ng-click="refreshTraffic()">Reload</button>
    </div>

    <table class="footable table col-md-10">
        <thead>
            <tr>
                <th>Node</th>
                <th>Traffic requests</th>
                <th>Bandwidth</th>
            </tr>
            <tr ng-hide="nodes.length > 1">
                <td colspan="3" class="centerAlign">No data found.</td>
            </tr>
        </thead>
        <tbody ng-repeat="item in nodes">
            <tr>
                <td rowspan="{{item.rows + 2}}">{{item.id}}</td>
                <td ng-hide="item.incoming.length<1" colspan="2" class="centerAlign">Incoming traffic</td>
            </tr>
            <tr ng-repeat="detail in item.incoming">
                <td>{{detail[0]}}</td>
                <td>{{detail[1]}}</td>
            </tr>
            <tr>
                <td ng-hide="item.outgoing.length<1" colspan="2" class="centerAlign">Outgoing traffic</td>
            </tr>
            <tr ng-repeat="detail in item.outgoing">
                <td>{{detail[0]}}</td>
                <td>{{detail[1]}}</td>
            </tr>
        </tbody>
    </table>

</form>

